.sidebar-container {
    background-color: var(--sidebar-bgc);
    padding: 15px;
    min-width: var(--sidebar-with);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-icon {
    margin-right: 12px;
}

.menu-item {
    align-items: center;
    color: var(--color-white);
    display: flex;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px;
    border-radius: 8px;
    transition: all .3s;
}


.menu-item:hover {
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--rgba-hover);
}

.menu-item.active,
.menu-item.active:hover {
    color: var(--siderbar-active);
    background-color: var(--siderbar-bgc-active);
}