.newcoin-title {
    color: var(--color-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    height: 28px;
    line-height: 140%;
}

.newcoin-info-container {
    margin-top: 24px;
}

.newcoin-info {
    display: flex;
}

.field-container {
    margin-right: 24px;
    margin-bottom: 24px;
}

.search-user-container {
    margin: 16px 0;
}

.search-user-container .search-container {
    display: flex;
    align-items: center;
}

.search-user-container .search-container .search {
    width: 100%;
}

.none-blacklist {
    text-align: center;
}

.actions-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.actions-container .cancel {
    background-color: transparent;
    border: 2px solid var(--cancel-btn-border-color) !important;
    display: flex;
    align-items: center;
    color: inherit;
}

.actions-container .cancel:hover {
    background-color: var(--cancel-btn-hover-bgc);
}

.search-container-relative {
    flex: 1;
    position: relative;
    margin-right: 16px;
}

.blacklist-absolute {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999999;
}

.blacklist-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    animation: fadeIn .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.blacklist-container::-webkit-scrollbar {
    display: none;
}

.error {
    color: var(--color-error);
    font-size: 15px;
    text-align: center;
}

.avatar {
    width: 25px;
    height: 30px;
}

.blacklist-text.checkall {
    font-weight: bold;
}

.user-setting-desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 22px;
    line-height: 22px;
    width: 256px;
}