:root {
    /*  */
    --mainpage-bgc: #f5f5f5;
    --color-primary: #4CAF50;
    --primary-hover: #00980f;
    --color-white: white;
    --color-black: black;
    --color-error: #f44336;
    --color-btn-delete: #d50000;
    --color-btn-delete-hover: #d30000;
    --sidebar-bgc: #212121;

    --rgba-hover: rgba(0, 0, 0, 0.5);
    --rgba-modal-bgc: rgba(0, 0, 0, 0.5);
    --siderbar-active: #4CAF50;
    --siderbar-bgc-active: #424242;
    --sidebar-with: 220px;
    --cancel-btn-border-color: #eee;
    --cancel-btn-hover-bgc: #fafbfc;
    --table-thead-bgc: #fafafa;
    --table-border-color: #dfe1e6;
    --table-tbody-item-color: #616161;
    --table-countpage-text-color: #bababa;
    --table-send-icon-color: #212121;
    --table-received-icon-color: #4CAF50;
    --table-status-confirm-color: #007aff;
    --table-status-confirm-bgc: #e6f5ff;
    --table-status-complete-color: #4CAF50;
    --table-status-complete-bgc: #edf7ee;
    --table-status-onhold-color: #ffab00;
    --table-status-onhold-bgc: #fff7e6;
    --table-status-cancel-color: #d50000;
    --table-status-cancel-bgc: #ffebea;
    --search-border-color: #e0e0e0;
    --search-icon-color: #9e9e9e;
    --search-input-color: #333333;
    --boxShadow-input-color: rgba(136, 255, 0, 0.25);
    --breadcrumb-link-color: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

button {
    outline: none !important;
}

.d-flex {
    display: flex;
}

.cl-primary {
    color: var(--color-primary);
}

.hv-primary:hover {
    color: var(--color-primary);
}

.border0 {
    border-radius: 0;
}

.mr8 {
    margin-right: 8px;
}

.mb0 {
    margin-bottom: 0;
}

.mb8 {
    margin-bottom: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mt0 {
    margin-top: 0;
}

.mt24 {
    margin-top: 24px;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.ml8 {
    margin-left: 8px;
}

.ml0 {
    margin-left: 0 !important;
}

.p0 {
    padding: 0 !important;
}

.p8 {
    padding: 8px;
}

.fwb {
    font-weight: bold;
}

.fz16 {
    font-size: 16px;
}

.fz12 {
    font-size: 12px;
}

.w100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-flex-end {
    align-items: flex-end;
}

.item-w150 {
    max-width: 150px !important;
    word-wrap: break-word !important;
}

.item-w100 {
    max-width: 100px !important;
    word-wrap: break-word !important;
}

.item-w50 {
    max-width: 50px !important;
    word-wrap: break-word !important;
}

.item-w30 {
    max-width: 30px !important;
    word-wrap: break-word !important;
}

.item-w20 {
    max-width: 20px !important;
    word-wrap: break-word !important;
}

.item-w200 {
    max-width: 200px !important;
    word-wrap: break-word !important;
}

.label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    margin-bottom: 0;
}

.btn-cancel {
    background-color: transparent;
    border: 2px solid var(--cancel-btn-border-color) !important;
    display: flex;
    align-items: center;
}

.btn-cancel:hover {
    background-color: var(--cancel-btn-hover-bgc);
}

.cr-pointer {
    cursor: pointer;
}

.noSupport {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12px;
    display: none;
}

.scroll-to-top-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 15px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background-color: var(--color-primary);
    bottom: 20px;
    right: 20px;
    color: var(--color-white);
    z-index: 999;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
}

.scroll-to-top-container i {
    font-size: 14px;
}

.btn-down-app {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: var(--color-white);
    bottom: 20px;
    right: 20px;
    color: black;
    z-index: 999;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.list-app-container {
    position: absolute;
    right: 150px;
    bottom: 25px;
    padding: 12px 0;
    background-color: var(--color-white);
    border-radius: 8px;
    width: max-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.5s ease-in-out;
}

.list-app-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-weight: normal;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-decoration: none;
    color: black;
}

.list-app-item:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
}

.list-app-item-text {
    font-size: 15px;
    flex: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

/* TABLET AND MOBILE */
@media (max-width: 63.9375em) {
    .noSupport {
        display: flex;
    }

    .app {
        display: none;
    }
}