.status {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 11px;
    border-radius: 30px;
    text-transform: capitalize;
}

.confirm,
.pending,
.confirmed,
.standard,
.waiting {
    color: var(--table-status-confirm-color);
}

.complete,
.completed,
.pro {
    color: var(--table-status-complete-color);
}

.onhold,
.refunded,
.vip {
    color: var(--table-status-onhold-color);
}

.cancel,
.canceled,
.demo {
    color: var(--table-status-cancel-color);
}

.confirmbgc,
.confirmbgc:hover,
.confirmedbgc,
.confirmedbgc:hover,
.pendingbgc,
.pendingbgc:hover,
.standardbgc,
.standardbgc:hover,
.waitingbgc,
.waitingbgc:hover,
.managerbgc,
.managerbgc:hover {
    color: var(--table-status-confirm-color);
    background-color: var(--table-status-confirm-bgc);
}

.completebgc,
.completebgc a,
.completebgc:hover,
.completebgc a:hover,
.completedbgc,
.completedbgc a,
.completedbgc:hover,
.completedbgc a:hover,
.probgc,
.probgc:hover,
.userbgc,
.userbgc:hover {
    color: var(--table-status-complete-color);
    background-color: var(--table-status-complete-bgc);
}

.onholdbgc,
.onholdbgc:hover,
.vipbgc,
.vipbgc:hover,
.refundedbgc,
.refundedbgc:hover,
.adminbgc,
.adminbgc:hover {
    color: var(--table-status-onhold-color);
    background-color: var(--table-status-onhold-bgc);
}

.cancelbgc,
.cancelbgc:hover,
.canceledbgc,
.canceledbgc:hover,
.demobgc,
.demobgc:hover {
    color: var(--table-status-cancel-color);
    background-color: var(--table-status-cancel-bgc);
}