.info-container {
    --cols: 2;
    --spacing: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.detail-container {
    width: calc((100% / var(--cols)) - (var(--spacing) * 2));
    margin: 0 var(--spacing) 0 0;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 32px;
}

.document-review-title {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 12px;
}

.document-container {
    position: relative;
    width: 280px;
    height: 550px;
    padding-bottom: 130%;
    border-radius: 8px;
    height: 0;
}

.document-review-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    image-rendering: auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}