.checkbox-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 12px;
}

.checkbox-item:hover {
    cursor: pointer;
    background-color: var(--cancel-btn-hover-bgc);
}

.checkbox-item:hover .checkmark {
    cursor: pointer;
    border-color: var(--color-primary);
}

.checkbox-item input {
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.checkbox-item input:checked+.checkmark {
    background-color: var(--color-primary);
}

.checkbox-item input:checked+.checkmark::after {
    display: block;
}

.checkbox-item .checkmark {
    position: relative;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    margin-bottom: 0;
    background-color: transparent;
    border: 1.5px solid rgba(22, 24, 35, 0.12);
    transition: all 0.3s;
}

.checkbox-item .checkmark::after {
    content: '';
    position: absolute;
    display: none;
    text-align: center;
    left: 5px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid var(--color-white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}

.checkbox-text {
    margin-left: 12px;
}