.search-container {
    border: 1.5px solid var(--search-border-color);
    border-radius: 8px 8px 8px 8px;
    height: 48px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.search-container:hover {
    box-shadow: 0 0 0 1.3px var(--boxShadow-input-color);
}

.search-icon {
    color: var(--search-icon-color);
    margin-right: 10px;
    margin-top: 3px;
}

.search-input {
    width: 100%;
}

.search-input .input {
    flex: 1;
    flex-basis: 100%;
    outline: none;
    border: none;
    color: var(--search-input-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 26px;
    line-height: 22px;
    width: 100%;
}

.search-input .input:not(:placeholder-shown) {
    font-weight: 600;
}

.input:focus::-webkit-input-placeholder {
    color: var(--color-black);
}

.input:focus::-moz-placeholderr {
    color: var(--color-black);
}

.input:focus::-ms-input-placeholder {
    color: var(--color-black);
}