.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-container p {
    margin-left: 10px;
}

.toggle-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 22px;
    line-height: 22px;
    width: 256px;
}