.header-container {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-logo {
    width: 139px;
    height: 39px;
}

.header-infouser-container {
    display: flex;
    align-items: center;
}

.iconsBell {
    cursor: pointer;
}

.ml10 {
    margin-left: 10px;
}

.text-wallet {
    margin-right: 12px;
    font-size: 18px;
    color: var(--color-gray);
    font-weight: bold;
}